[submodule "third_party/Catch2"]
	path = third_party/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/CLI11"]
	path = third_party/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "third_party/google/benchmark"]
	path = third_party/google/benchmark
	url = https://github.com/google/benchmark.git
[submodule "third_party/cppitertools/cppitertools"]
	path = third_party/cppitertools/cppitertools
	url = https://github.com/ryanhaining/cppitertools.git
